<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Teko:wght@700&display=swap" rel="stylesheet">
<div class="navbar">
  <div class="nav-links">
      <%= link_to "KATIE BOSWORTH.", root_path, class:"nav-link-style-logo"%>
     <div class="nav-links-middle">
       <%= link_to "VIDEOS", about_path, class:"nav-link-style-about"%> | <%= link_to "PHOTOS", about_path, class:"nav-link-style-about"%> | <%= link_to "ABOUT", about_path, class:"nav-link-style-about"%> | <%= link_to "EVENTS", about_path, class:"nav-link-style-about"%> | <%= link_to "PRICES", about_path, class:"nav-link-style-about"%>
     </div>
      <%= link_to "🔴🔴🔴", root_path, class:"nav-link-style-socials"%>
  </div>
</div>
